rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow full read and write access for all collections in the central stock database
    match /{document=**} {
      allow read, write: if true;
    }
  }
}


